  a {
  	font-size: 35px;
    font-family: forma-djr-banner, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: white;

}

a:hover {
	color: yellow;
}

.container {
	position: absolute;
	text-align: center;
	margin-left: 5%;
	margin-top: 10%;
}

body {
	background-image: url(bg.gif);
}
